name: builder
run-name: ${{ github.actor }} is building
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true
      - run: go mod tidy
      - run: go build -o dist/ ./cmd/...
